In [108]:


#groupes = array['Annee_RefT'].unique()
#print(groupes)






import pandas as pd

# Chargement des données
data = pd.read_csv("./details_agence_taux_de_rotation_version3.csv")

# Filtrer les données pour l'année de référence 2022
data = data[data['Annee_RefT'] == 2022]


# Convertir la colonne 'CA' en type numérique
data['CA'] = pd.to_numeric(data['CA'], errors='coerce')

# Afficher les régions uniques
regions = data['Region_Facturation'].unique()
print("Toutes nos régions :", regions)
print("Notre agence étudiée/montrée : 51, car on c'est que c'est une agence ou il fait froid")

# Afficher toutes les agences de la région 51
agences_region_51 = data[data['Region_Facturation'] == 51]['Agence_Facturation'].unique()
print("Liste des agences de la région 51 : ", agences_region_51)

# Le CA global et de chaque agence
ca_agences_region_1 = data[data['Region_Facturation'] == 1].groupby('Agence_Facturation')['CA'].sum()
ca_agences_region_51 = data[data['Region_Facturation'] == 51].groupby('Agence_Facturation')['CA'].sum()
ca_agences_region_53 = data[data['Region_Facturation'] == 53].groupby('Agence_Facturation')['CA'].sum()
ca_agences_region_67 = data[data['Region_Facturation'] == 67].groupby('Agence_Facturation')['CA'].sum()
ca_agences_region_54 = data[data['Region_Facturation'] == 54].groupby('Agence_Facturation')['CA'].sum()


# Somme des CA de toutes les agences dans la région 53
somme_ca_region_1 = ca_agences_region_1.sum()
somme_ca_region_51 = ca_agences_region_51.sum()
somme_ca_region_53 = ca_agences_region_53.sum()
somme_ca_region_67 = ca_agences_region_67.sum()
somme_ca_region_54 = ca_agences_region_54.sum()
print("Somme des CA de la région 1 :", somme_ca_region_1, "€")
print("Somme des CA de la région 51 :", somme_ca_region_51, "€")
print("Somme des CA de la région 53 :", somme_ca_region_53, "€")
print("Somme des CA de la région 67 :", somme_ca_region_67, "€")
print("Somme des CA de la région 54 :", somme_ca_region_54, "€")



# Somme du CA pour l'agence 51 pour les valeurs numériques 1, 2 et 3 de la colonne "Cat_Classe_Designation_Num" du total de 1, total 2, et total 3
ca_agence_51_cat1 = data[(data['Region_Facturation'] == 51) & (data['Cat_Classe_Designation_Num'] == 1)]['CA'].sum()
ca_agence_51_cat2 = data[(data['Region_Facturation'] == 51) & (data['Cat_Classe_Designation_Num'] == 2)]['CA'].sum()
ca_agence_51_cat3 = data[(data['Region_Facturation'] == 51) & (data['Cat_Classe_Designation_Num'] == 3)]['CA'].sum()

print("CA de toutes les nacelles de la région 51 :", ca_agence_51_cat1, "€")
print("CA de tous les chariots télescopiques  de la région 51 :", ca_agence_51_cat2, "€")
print("CA pour de toutes les minipèles de la région 51 :", ca_agence_51_cat3, "€")






# Filtrer les données pour la région 51 et les libellés "DISPONIBLE" et "EN LOCATION"
###data_region_51_disponible = data[(data['Region_Facturation'] == 51) & (data['Libelle_Statut_Materiel'] == 'DISPONIBLE')]
###data_region_51_en_location = data[(data['Region_Facturation'] == 51) & (data['Libelle_Statut_Materiel'] == 'EN LOCATION')]

# Calculer le nombre d'appareils DISPONIBLE par agence
###nb_appareils_disponibles_par_agence = data_region_51_disponible.groupby('Agence_Facturation').size()

# Calculer le nombre d'appareils EN LOCATION par agence
###nb_appareils_en_location_par_agence = data_region_51_en_location.groupby('Agence_Facturation').size()

# Calculer le nombre total d'appareils par agence (DISPONIBLE + EN LOCATION)
###nb_appareils_total_par_agence = nb_appareils_disponibles_par_agence.add(nb_appareils_en_location_par_agence, fill_value=0)

# Afficher les agences, leur CA, le stock DISPONIBLE, le stock EN LOCATION et le pourcentage de disponibilité dans la région 51
###for agence in agences_region_51:
###    ca_agence = ca_agences_region_51[agence]
###    stock_disponible_agence = nb_appareils_disponibles_par_agence.get(agence, 0)  # Obtention du stock DISPONIBLE pour l'agence
###    stock_en_location_agence = nb_appareils_en_location_par_agence.get(agence, 0)  # Obtention du stock EN LOCATION pour l'agence
###    stock_total_agence = nb_appareils_total_par_agence.get(agence, 0)  # Obtention du stock total pour l'agence
###    pourcentage_disponibilite = (stock_disponible_agence / stock_total_agence) * 100 if stock_total_agence != 0 else 0  # Calcul du pourcentage de disponibilité
    
###    print("Agence :", agence)
###    print("CA :", ca_agence, "€")
###    print("Stock DISPONIBLE :", stock_disponible_agence)
###    print("Stock EN LOCATION÷ :", stock_en_location_agence)
###    print("Pourcentage de disponibilité :", pourcentage_disponibilite, "%")
###    print()


    
    
    

    
    # Filtrer les données pour l'agence 225 dans la région 51 avec le statut DISPONIBLE et EN LOCATION
###data_agence_220_disponible = data[(data['Region_Facturation'] == 51) & (data['Agence_Facturation'] == 220) & (data['Libelle_Statut_Materiel'] == 'DISPONIBLE')]
data_agence_220_location = data[(data['Region_Facturation'] == 51) & (data['Agence_Facturation'] == 220) & (data['Libelle_Statut_Materiel'] == 'EN LOCATION')]

# Concaténer les deux ensembles de données filtrées
data_agence_220 = pd.concat([data_agence_220_disponible, data_agence_220_location])

# Calculer le nombre de chaque type de matériel (Cat_Classe_Designation_Num) pour l'agence 225
types_materiel_agence_220 = data_agence_220['Cat_Classe_Designation_Num']
types_materiel_count = types_materiel_agence_220.value_counts()

# Afficher le nombre de chaque type de matériel
for cat_num, count in types_materiel_count.items():
    if cat_num == 1:
        print("Nombre de nacelles en location et disponible :", count)
    elif cat_num == 2:
        print("Nombre de chariots télescopiques en location et disponible :", count)
    elif cat_num == 3:
        print("Nombre de minipelles en location et disponible :", count)
    else:
        print("Nombre de matériel de type", cat_num, "en location et disponible :", count)

    
    
        
        
        


    
    
######## test
    
    classes_dispo = data['Libelle_Statut_Materiel'].unique()
print("Classes disponibles dans la colonne 'Libelle_Statut_Materiel':")
for classe in classes_dispo:
    print(classe)

    
data.sample(100)

Toutes nos régions : [ 1 51 53 67 54]
Notre agence étudiée/montrée : 51, car on c'est que c'est une agence ou il fait froid
Liste des agences de la région 51 :  [210 211 212 214 215 217 220 221 223 224 225 226 227 228 290 291 292 293
 294 295 296]
Somme des CA de la région 1 : 0.0 €
Somme des CA de la région 51 : 359661.0 €
Somme des CA de la région 53 : 633268.0 €
Somme des CA de la région 67 : 265411.0 €
Somme des CA de la région 54 : 59102.0 €
CA de toutes les nacelles de la région 51 : 99340.0 €
CA de tous les chariots télescopiques  de la région 51 : 111333.0 €
CA pour de toutes les minipèles de la région 51 : 148988.0 €
Nombre de minipelles en location et disponible : 21
Nombre de nacelles en location et disponible : 20
Nombre de chariots télescopiques en location et disponible : 19
Classes disponibles dans la colonne 'Libelle_Statut_Materiel':
RETOUR PLANIFIE
PANNE COURT TERME
EN LOCATION
DISPONIBLE
VENDU
ZONE RETOUR CTRL OBLIGATOIRES
PERDU
EN TRANSIT
FERRAILLE
PANNE LONG TERME
VOLE

,Unnamed: 0.1,Unnamed: 0,int64_field_0,Agence_Facturation,Region_Facturation,Materiel,Statut,Libelle_Statut_Materiel,Nature_equipement,Modele,...,CA,Annee_RefT,Nb_Jours_Fac,Nb_Jours_VLG,Valeur_Locative_Th_TR_IndM,Prix_Reference_Monnaie_locale,Pay_Back_Prix_Reference,Date_Fin_Vie,Cat_Classe_Designation_Num,Taux_de_rotation
1318,1353,1353,1353,212,51,261537,O,EN LOCATION,EQP,160ATJEO 350°,...,NaN,2022,2,18,4500.0,38000,7427,NaN,2.0,0.111111
13394,13991,13991,13991,343,53,313056,R,ZONE RETOUR CTRL OBLIGATOIRES,EQP,160ALU/DS,...,NaN,2022,164,254,64770.0,52500,35,NaN,2.0,0.645669
7968,8297,8297,8297,296,51,52900682,U,RETOUR PLANIFIE,ACC,CBR900,...,0.0,2022,23,254,1778.0,1500,0,NaN,1.0,0.090551
14896,15550,15550,15550,347,53,528865,O,EN LOCATION,EQP,HA16RTJ-ST5,...,NaN,2022,35,46,10442.0,37710,700,NaN,2.0,0.760870
3753,3921,3921,3921,223,51,544016,O,EN LOCATION,EQP,160HYBRID/IVECO,...,1730.0,2022,31,34,11152.0,57525,1615,NaN,2.0,0.911765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12914,13480,13480,13480,342,53,209364,A,DISPONIBLE,EQP,MT732-100,...,NaN,2022,163,254,44450.0,43000,101,NaN,1.0,0.641732
7802,8128,8128,8128,296,51,333388,O,EN LOCATION,EQP,HA20RTJ,...,NaN,2022,217,254,97790.0,56000,43,NaN,2.0,0.854331
8984,9378,9378,9378,331,53,227404,N,PANNE COURT TERME,EQP,VIO80ACR,...,NaN,2022,75,254,101600.0,55000,142,NaN,3.0,0.295276
15652,16336,16336,16336,349,53,377686,O,EN LOCATION,EQP,MT732,...,NaN,2022,145,239,44450.0,43000,37,NaN,1.0,0.606695
11705,12230,12230,12230,339,53,237207,D,PANNE LONG TERME,EQP,ECR25D,...,NaN,2022,179,254,46990.0,23700,123,NaN,3.0,0.704724

In [104]:
import pandas as pd

# Chargement des données
data = pd.read_csv("./details_agence_taux_de_rotation_version3.csv")

# Filtrer les données pour l'année de référence 2021
data_2021 = data[data['Annee_RefT'] == 2021]

# Filtrer les données pour la région 51 et l'agence 220
data_agence_220_region_51 = data_2021[(data_2021['Region_Facturation'] == 51) & (data_2021['Agence_Facturation'] == 220)]

# Convertir la colonne 'CA' en type numérique
data_agence_220_region_51['CA'] = pd.to_numeric(data_agence_220_region_51['CA'], errors='coerce')

# Calculer le chiffre d'affaires de l'agence 220 de la région 51 pour l'année 2021
ca_agence_220_2021 = data_agence_220_region_51['CA'].sum()

print("Chiffre d'affaires de l'agence 220 de la région 51 en 2021 :", ca_agence_220_2021, "€")

Chiffre d'affaires de l'agence 220 de la région 51 en 2021 : 75687.0 €

/var/folders/__/_0q8nrlx5_sb_q1hb9zndxgr0000gn/T/ipykernel_25679/1690409634.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_agence_220_region_51['CA'] = pd.to_numeric(data_agence_220_region_51['CA'], errors='coerce')

In [107]:
import pandas as pd

# Chargement des données
data = pd.read_csv("./details_agence_taux_de_rotation_version3.csv")

# Filtrer les données pour l'année de référence 2022
data_2022 = data[data['Annee_RefT'] == 2022]

# Filtrer les données pour la région 51 et l'agence 220
data_agence_220_region_51 = data_2022[(data_2022['Region_Facturation'] == 51) & (data_2022['Agence_Facturation'] == 220)]

# Convertir la colonne 'CA' en type numérique
data_agence_220_region_51['CA'] = pd.to_numeric(data_agence_220_region_51['CA'], errors='coerce')

# Calculer le chiffre d'affaires de l'agence 220 de la région 51 pour l'année 2022
ca_agence_220_2022 = data_agence_220_region_51['CA'].sum()

print("Chiffre d'affaires de l'agence 220 de la région 51 en 2022 :", ca_agence_220_2022, "€")

# Calculer le stock disponible et en location pour chaque type de matériel
stock_disponible_par_type = data_agence_220_region_51[data_agence_220_region_51['Libelle_Statut_Materiel'] == 'DISPONIBLE'].groupby('Cat_Classe_Designation_Num').size()
stock_en_location_par_type = data_agence_220_region_51[data_agence_220_region_51['Libelle_Statut_Materiel'] == 'EN LOCATION'].groupby('Cat_Classe_Designation_Num').size()

# Afficher le stock disponible et en location pour chaque type de matériel
for cat_num, stock_disponible in stock_disponible_par_type.items():
    stock_en_location = stock_en_location_par_type.get(cat_num, 0)
    print("Type de matériel", cat_num, "- Stock DISPONIBLE :", stock_disponible)
    print("Type de matériel", cat_num, "- Stock EN LOCATION :", stock_en_location)
    print()

Chiffre d'affaires de l'agence 220 de la région 51 en 2022 : 25473.0 €
Type de matériel 1.0 - Stock DISPONIBLE : 10
Type de matériel 1.0 - Stock EN LOCATION : 10

Type de matériel 2.0 - Stock DISPONIBLE : 7
Type de matériel 2.0 - Stock EN LOCATION : 12

Type de matériel 3.0 - Stock DISPONIBLE : 14
Type de matériel 3.0 - Stock EN LOCATION : 7

/var/folders/__/_0q8nrlx5_sb_q1hb9zndxgr0000gn/T/ipykernel_25679/3747774464.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_agence_220_region_51['CA'] = pd.to_numeric(data_agence_220_region_51['CA'], errors='coerce')

In [117]:
import pandas as pd

# Charger les données dans un DataFrame
data = pd.read_csv('./details_agence_taux_de_rotation_version3.csv')

# Filtrer les données pour l'agence 220 et l'année 2022
filtered_data = data[(data['Agence_Facturation'] == 220) & (data['Annee_RefT'] == 2022)]

# Filtrer les machines qui superforment (taux de rotation > 0.8)
superforme = filtered_data[filtered_data['Taux_de_rotation'] > 0.8]

# Filtrer les machines qui sous-performent (taux de rotation < 0.3)
sousperforme = filtered_data[filtered_data['Taux_de_rotation'] < 0.3]

# Calculer la moyenne des taux de rotation pour les machines entre 0.3 et 0.8
moyenne = filtered_data[(filtered_data['Taux_de_rotation'] >= 0.3) & (filtered_data['Taux_de_rotation'] <= 0.8)]['Taux_de_rotation'].mean()

# Afficher les résultats
print("Machines qui superforment :")
print(superforme)

print("\nMachines qui sous-performent :")
print(sousperforme)

print("\nMoyenne des taux de rotation entre 0.3 et 0.8 :", moyenne)

Machines qui superforment :
      Unnamed: 0.1  Unnamed: 0  int64_field_0  Agence_Facturation  \
2723          2849        2849           2849                 220
2724          2850        2850           2850                 220
2762          2890        2890           2890                 220
2767          2895        2895           2895                 220
2792          2920        2920           2920                 220

      Region_Facturation Materiel Statut Libelle_Statut_Materiel  \
2723                  51   268472      N       PANNE COURT TERME
2724                  51   283603      A              DISPONIBLE
2762                  51   309126      A              DISPONIBLE
2767                  51   329702      O             EN LOCATION
2792                  51   362898      O             EN LOCATION

     Nature_equipement     Modele  ...        CA Annee_RefT Nb_Jours_Fac  \
2723               EQP  SJIII3220  ...    3601,5       2022           91
2724               EQP     ECR25D  ...   1020,49       2022           10
2762               EQP    ECOLIFT  ...      2552       2022          220
2767               EQP     ECR50D  ...  12753,06       2022          221
2792               EQP     ECR50D  ...     12650       2022          220

      Nb_Jours_VLG  Valeur_Locative_Th_TR_IndM Prix_Reference_Monnaie_locale  \
2723           110                      8436.0                          9900
2724            10                      1850.0                         23700
2762           254                     13970.0                          3700
2767           254                     80010.0                         36500
2792           254                     80010.0                         36500

     Pay_Back_Prix_Reference  Date_Fin_Vie  Cat_Classe_Designation_Num  \
2723                     123           NaN                         2.0
2724                     633           NaN                         3.0
2762                      22           NaN                         2.0
2767                      50           NaN                         3.0
2792                      43           NaN                         3.0

      Taux_de_rotation
2723          0.827273
2724          1.000000
2762          0.866142
2767          0.870079
2792          0.866142

[5 rows x 26 columns]

Machines qui sous-performent :
      Unnamed: 0.1  Unnamed: 0  int64_field_0  Agence_Facturation  \
2577          2697        2697           2697                 220
2603          2724        2724           2724                 220
2632          2753        2753           2753                 220
2641          2763        2763           2763                 220
2664          2787        2787           2787                 220
2668          2791        2791           2791                 220
2677          2800        2800           2800                 220
2701          2825        2825           2825                 220
2720          2845        2845           2845                 220
2721          2847        2847           2847                 220
2785          2913        2913           2913                 220
2829          2958        2958           2958                 220
2834          2963        2963           2963                 220
2901          3030        3030           3030                 220
2906          3035        3035           3035                 220
2911          3040        3040           3040                 220
2917          3046        3046           3046                 220
2923          3052        3052           3052                 220

      Region_Facturation  Materiel Statut        Libelle_Statut_Materiel  \
2577                  51    110832      A                     DISPONIBLE
2603                  51    156096      R  ZONE RETOUR CTRL OBLIGATOIRES
2632                  51    158912      R  ZONE RETOUR CTRL OBLIGATOIRES
2641                  51    185019      O                    EN LOCATION
2664                  51    214367      U                RETOUR PLANIFIE
2668                  51    219675      A                     DISPONIBLE
2677                  51    228567      A                     DISPONIBLE
2701                  51    258593      O                    EN LOCATION
2720                  51    263871      O                    EN LOCATION
2721                  51    267976      A                     DISPONIBLE
2785                  51    342041      J                      FERRAILLE
2829                  51  43404392      A                     DISPONIBLE
2834                  51    458298      A                     DISPONIBLE
2901                  51    525686      U                RETOUR PLANIFIE
2906                  51  52900038      A                     DISPONIBLE
2911                  51  52900601      A                     DISPONIBLE
2917                  51  52900848      O                    EN LOCATION
2923                  51  52901824      A                     DISPONIBLE

     Nature_equipement          Modele  ...       CA Annee_RefT Nb_Jours_Fac  \
2577               EQP          ECR48C  ...   1388,4       2022           12
2603               EQP        SV08-1AS  ...  5485,56       2022           60
2632               EQP            9503  ...  4925,59       2022           23
2641               ACC  BMICF230+CLBR2  ...   382,91       2022           87
2664               ACC           2000L  ...    30,74       2022            4
2668               ACC  BMICF230+CLBR2  ...   313,86       2022           79
2677               ACC       980/A5063  ...     56,6       2022           43
2701               EQP       SJIII3220  ...  1065,26       2022           28
2720               EQP      MT1440EASY  ...   227,28       2022            3
2721               EQP      MT1440EASY  ...   1295,1       2022            9
2785               EQP         ECOLIFT  ...        0       2022            0
2829               ACC          CBR900  ...        0       2022            0
2834               EQP     HA20 LE-PRO  ...        0       2022            0
2901               EQP            EZ50  ...  3441,65       2022           28
2906               ACC           P/530  ...        0       2022           26
2911               ACC          CBR900  ...    26,82       2022           15
2917               ACC           1000L  ...   140,88       2022           35
2923               ACC            700L  ...    13,37       2022           24

      Nb_Jours_VLG  Valeur_Locative_Th_TR_IndM Prix_Reference_Monnaie_locale  \
2577            82                     25830.0                         36500
2603           254                     33020.0                         13500
2632           254                    101600.0                         95000
2641           365                      9125.0                          2300
2664            95                         0.0                          2300
2668           365                      9125.0                          2300
2677           254                      1778.0                          1500
2701           111                      8436.0                          9900
2720            18                      4500.0                         55000
2721            62                     15500.0                         55000
2785            19                      1045.0                          3700
2829             7                         0.0                          1500
2834             1                         0.0                         70645
2901            97                     34920.0                         40520
2906           254                      1778.0                          1500
2911           254                      1778.0                          1500
2917           254                      1778.0                          1500
2923           254                      1778.0                          1500

     Pay_Back_Prix_Reference  Date_Fin_Vie  Cat_Classe_Designation_Num  \
2577                     100    28/04/2022                         3.0
2603                      29           NaN                         3.0
2632                     228           NaN                         3.0
2641                      53           NaN                         1.0
2664                     219           NaN                         1.0
2668                      71           NaN                         1.0
2677                     314           NaN                         1.0
2701                     487           NaN                         2.0
2720                   11880           NaN                         1.0
2721                    2508           NaN                         1.0
2785                       0    28/01/2022                         2.0
2829                       0           NaN                         1.0
2834                       0           NaN                         2.0
2901                     640           NaN                         3.0
2906                       0           NaN                         1.0
2911                     594           NaN                         1.0
2917                     128           NaN                         1.0
2923                    1329           NaN                         1.0

      Taux_de_rotation
2577          0.146341
2603          0.236220
2632          0.090551
2641          0.238356
2664          0.042105
2668          0.216438
2677          0.169291
2701          0.252252
2720          0.166667
2721          0.145161
2785          0.000000
2829          0.000000
2834          0.000000
2901          0.288660
2906          0.102362
2911          0.059055
2917          0.137795
2923          0.094488

[18 rows x 26 columns]

Moyenne des taux de rotation entre 0.3 et 0.8 : 0.518021630964171

In [1]:
import pandas as pd

# Charger les données dans un DataFrame pandas (remplacez "df" par le nom de votre DataFrame)
df = pd.read_csv("./details_agence_taux_de_rotation_version3.csv")

# Filtrer les données pour l'année 2021
df_2021 = df[df["Annee_RefT"] == 2021]

# Calculer la moyenne de la colonne "Pay_Back_Prix_Reference" pour l'année 2021
moyenne_2021 = df_2021["Pay_Back_Prix_Reference"].mean()

# Filtrer les données pour l'année 2022
df_2022 = df[df["Annee_RefT"] == 2022]

# Calculer la moyenne de la colonne "Pay_Back_Prix_Reference" pour l'année 2022
moyenne_2022 = df_2022["Pay_Back_Prix_Reference"].mean()

# Afficher les moyennes
print("Moyenne de la colonne Pay_Back_Prix_Reference pour l'année 2021 :", moyenne_2021)
print("Moyenne de la colonne Pay_Back_Prix_Reference pour l'année 2022 :", moyenne_2022)

Moyenne de la colonne Pay_Back_Prix_Reference pour l'année 2021 : 81.85151033386327
Moyenne de la colonne Pay_Back_Prix_Reference pour l'année 2022 : 230.6438679245283

In [2]:
import pandas as pd

# Charger les données dans un DataFrame pandas (remplacez "df" par le nom de votre DataFrame)
df = pd.read_csv("./details_agence_taux_de_rotation_version3.csv")

# Filtrer les données pour l'agence 220 et l'année 2021
df_220_2021 = df[(df["Agence_Facturation"] == 220) & (df["Annee_RefT"] == 2021)]

# Calculer la moyenne du "payback" pour l'agence 220 en 2021
moyenne_220_2021 = df_220_2021["Pay_Back_Prix_Reference"].mean()

# Filtrer les données pour l'agence 220 et l'année 2022
df_220_2022 = df[(df["Agence_Facturation"] == 220) & (df["Annee_RefT"] == 2022)]

# Calculer la moyenne du "payback" pour l'agence 220 en 2022
moyenne_220_2022 = df_220_2022["Pay_Back_Prix_Reference"].mean()

# Afficher les moyennes
print("Moyenne du payback pour l'agence 220 en 2021 :", moyenne_220_2021)
print("Moyenne du payback pour l'agence 220 en 2022 :", moyenne_220_2022)

Moyenne du payback pour l'agence 220 en 2021 : 65.35
Moyenne du payback pour l'agence 220 en 2022 : 301.44827586206895


valeur pour trouver performance moyenne de la région CA par moi par année. 


moyenne agence sur-utilisé / le stocl une agence -> type


si taux de rotation : 0.3 et 0.8 sur-utilisé

Calcul sur 4 agences.

2 : Moyenne



3 : Moyenne chaque agence

In [19]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Chargement des données
X = pd.read_csv("./details_agence_taux_de_rotation_version3.csv")

# Sélection des variables prédictives
X_train = X.drop("Region_Facturation", axis=1)

# Créer l'estimateur Random Forest de régression
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Entraîner le modèle sur les données d'entraînement
model.fit(X_train)

# Afficher les régions uniques
regions = X['Region_Facturation'].unique()
print(regions)



# Entraîner le modèle sur les données d'entraînement
####model.fit(X_train, y_train)

#Faire des prédictions sur les données de test
####predictions = model.predict(X_test)

####Évaluer les performances du modèle
####mse = mean_squared_error(y_test, predictions)
####print("Mean Squared Error:", mse)

TypeError: BaseForest.fit() missing 1 required positional argument: 'y'